<div class="page-wrapper">
  
  <nav class="top-navbar">
    <div class="nav-content">
      <h1 class="logo">B4Fit</h1>
      
      <div class="nav-links">
        <a routerLink="/users" class="nav-link">Użytkownicy</a>
        <a routerLink="/login" class="nav-link">Logowanie</a>
      </div>
    </div>
  </nav>

  <main class="main-content">
    
    <router-outlet></router-outlet>
    
  </main>

  <footer class="bottom-footer">
    <p>&copy; 2026 Panel Administracyjny Full-Stack. Wszelkie prawa zastrzeżone.</p>
  </footer>

</div>